<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Notas</div>
                <div class="panel-body">
                    <p>Deseja excluir realmente essa nota?</p>

                    <ul>
                        <li><strong>title:</strong> {{projectNote.title}}</li>
                        <li><strong>note:</strong> {{projectNote.note}}</li>
                    </ul>

                    <div class="form-group">
                            <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            <a ng-href="#/project/{{projectNote.project_id}}/notes" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>