<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{projectNote.title}}</div>
                <div class="panel-body">
                    {{projectNote.note}}
                </div>
                <div class="panel-footer">
                    <a ng-href="#/project/{{projectNote.project_id}}/notes" class="btn btn-default">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>